h1,h2,ol{
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #006EB6;
    color: #006EB6;
    display: inline-block;
}

#italics-text{
    font-style: italic;
    text-align: left;
    align-self: flex-start; 
}

p{
    font-size: 20px;
}

body{
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    border: gray 1px solid;
    width: 80%;
}

#mission{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 122px;
    height: 75px;
}

#mode-select{
    display: flex;
    justify-self: center;
    margin: 20px;
}

li{
    padding: 10px;
    font-size: 20px;
}

ol{
    text-align: left;
}



