
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
justify-content: flex-end;
gap: 1em;
}

li {
    border: solid red 1px;
}

hr{
margin-top: 50px;
}

@media screen and (min-width: 800px){
    .media-card{
        display: flex;
        gap: 1em;
    }
    .gallery{
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }

    .gallery > .media-card{ 
        flex: 0 0 45%; /* flex-grow, flex-shrink, flex-basis (
        starting size) */
        display: flex;
        align-items: center;
    }
    
}              